/*
CSS styles of the header components
*/

.main-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 520px;
  width: 100%;
  background-color:darkgoldenrod;
  

}

.profile-picture{

  margin:0px auto;
  display: flex;
  justify-content: center;
  padding-left: 4%;
 

}
.username{
  text-align: center;
  margin-top: 0px;
  padding-top:50px;
  padding-left: 4%;
  font-size: 32px;
}

/*
 * Header effect for desktop & above size
 */
@media only screen and (min-width: 1024px) {
   
  .main-header{
    width:40%;
    float: left;
    
    
  } 
  
}
/*
 * Header effect for below desktop size
 */
@media only screen and (max-width: 1024px) {
  .main-header{
    padding-top: 150px;
    
  } 
  .username{
    padding-top:30px;
  }
 
}



