/*
 * CSS style for elements related to new tweet form
 */

.submit-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
 

}

.tweet-text {
  width: 100%;
  border: none;
  background: transparent;
  overflow-wrap: break-word;
}

.tweet-button {
  background-color: navy;
  color: aliceblue;
  border: none;
  text-align: center;
  display: inline-block;

}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: lighter;
}

.tweets {
  border: solid;
  margin-top: 30px;
  padding: 10px;
  font-weight: normal;
  font-style: normal;
}
.tweets:hover {
  box-shadow: 5px 10px rgb(174, 189, 213);
}
.footer-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
}

hr {
  border: 2px solid black;
}

.tweet-username {
  color:rgb(174, 189, 213);
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

a:hover {
  color: rgb(255, 195, 105);
}
.name{
  font-style: normal;
}
#validation{
  border: solid red;
  height: 20px;
  display: flex;
  align-self: center;
  flex-direction: row;
  align-content: space-between;
}
#error{
  color: red;
}
  /* small screens: max width of 768px */
@media only screen and (max-width: 768px) {  
  .icons {
    width: 15%;
  }

  #error{
   font-size: 14px;
  }
}


